@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecf7ff;
}

form .card {
  background-color: gray;
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 60px 0px;
  border-radius: 1em;
}

form .card .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  height: 100%;
}

form .card .container h1 {
  font-size: 47.122632px;
}

form .card .container .input-container {
  width: 80%;
  height: 100%;
  gap: 3em;
  display: flex;
  flex-direction: column;
}

form .card .container .input-container .data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

form .card .container .input-container .data-container input {
  border-collapse: collapse;
  border: 0px solid black;
  border-bottom: 2px solid black;
  background-color: transparent;
  padding: 8px 16px 0px 0px;
  width: 100%;
}

form .card .container .input-container .data-container input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

form .card .container .input-container .data-container label {
  font-size: 18px;
}

form .card .container .input-container #button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .card .container .input-container #button-container input {
  padding: 4px 8px;
  border-collapse: collapse;
  border: 0px solid black;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 15px 30px;
  background-color: #5f8fb3;
}

form .card .container .input-container #button-container input:hover {
  background-color: #3f6f93;
  cursor: pointer;
}
