@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: 700;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #102b3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* box-shadow: 2px 0px 8px 0px rgb(000, 000, 000, 1); */
}

.header .logo {
  font-weight: 700;
  font-size: 43px;
  color: white;
  padding: 10px 20px 10px 20px;
}

.navbar {
  background-color: #102b3f;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .text {
  font-size: 18px;
  color: white;
  font-weight: 400;
  /* margin-left: 50px; */
  padding: 20px;
}

.header form {
  margin-right: 10rem;
}

.header form input {
  height: 3em;
  width: 40em;
  border-radius: 9999px;
  padding: 0 2em;
  border-collapse: collapse;
  border: 0px solid black;
}

header form input:focus {
  outline: none;
}

header .action-button {
  color: white;
  background-color: #9bc25c;
  border-radius: 8px;
  font-size: 23px;
  width: fit;
  height: fit-content;
  padding: 10px 20px;
}

header .logout-button {
  color: white;
  background-color: red;
  border-radius: 8px;
  font-size: 23px;
  width: fit;
  height: fit-content;
  padding: 10px 20px;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #75c3ff;
}

main .container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0 10px 0;
}

main .container .card {
  width: 80%;
  height: 90%;
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
}

main .container .card .cover {
  height: 100%;
  width: fit-content;
  padding: 0 7em 0 10em;
}

main .container .card .cover .book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 100%;
}

main .container .card .cover .book img {
  height: 400px;
  width: 350px;
  border: 1px solid black;
  border-radius: 8px;
}

main .container .card .cover .book a button {
  padding: 10px 40px;
  border-collapse: collapse;
  border: 2px solid #153852;
  background-color: #153852;
  color: white;
  border-radius: 8px;
  transition: 0.5s;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

main .container .card .cover .book a button:hover {
  background-color: transparent;
  border: 2px solid #153852;
  color: #153852;
  cursor: pointer;
}

main .container .card .description {
  height: 100%;
  width: 100%;
}

main .container .card .description .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3em 3em 0.5em;
  line-height: 1.2;
}

main .container .card .description .kategori {
  padding: 0em 3em 1em;
}

main .container .card .description .genre {
  padding: 0em 3em 1em;
  display: flex;
  gap: 8px;
}

main .container .card .description .genre .tag-genre {
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
  color: white;
  background-color: black;
  border-radius: 99999px;
}

main .container .card .description .desc {
  padding: 0em 3em 3em 3em;
}

main .container .card .description .desc p {
  font-weight: 400;
  text-align: justify;
}

main .container .card .description .card-description {
  background-color: transparent;
  padding: 3em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

main .container .card .description .card-description .info-card {
  background-color: #102b3f;
  color: white;
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  padding: 1.5em 0;
}

main .container .card .description .card-description .info-card .wrapper {
  width: 258px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  height: 6em;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
