@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.bgInfo {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

.container .side-navbar {
  top: 0;
  left: 0;
  background-color: #102b3f;
  grid-row: span 12 / span 12;
}

.container .side-navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 80px;
  overflow: hidden;
  font-weight: 700;
  font-size: 44px;
}

.container .side-navbar .logo a {
  color: white;
}

.container .side-navbar nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container .side-navbar nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 3em;
}

.container .side-navbar nav ul li {
  width: 100%;
  list-style: none;
}

.container .side-navbar nav ul li a {
  font-size: 22px;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0 0 0 2.5em;
}

.container main {
  background-color: white;
  width: 100%;
  grid-column: span 5 / span 5;
  grid-row: span 12 / span 12;
  height: 100vh;
}

.container main .top-navbar {
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.container main .top-navbar .cb {
  position: absolute;
  display: none;
}

.container main .top-navbar nav {
  width: 100%;
  height: 100%;
  padding-right: 3em;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container main .top-navbar nav img {
  height: 70%;
  border-radius: 999px;
}

.container main .top-navbar nav img:hover {
  cursor: pointer;
}

.container main .top-navbar nav .sub-menu-wrap {
  position: absolute;
  top: 10%;
  right: 0.5%;
  width: 320px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;  
  max-height: 0;
  padding: 0 1em;
  transition: max-height 0.3s, padding 0.3s;
}

.container main .top-navbar nav .sub-menu-wrap .sub-menu .user-info {
  display: flex;
  align-items: center;
}

.container main .top-navbar nav .sub-menu-wrap .sub-menu .user-info h2 {
  font-weight: 500;
}

.container main .top-navbar nav .sub-menu-wrap .sub-menu .user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.container main .top-navbar nav .sub-menu-wrap .sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: black;
  margin: 15px 0 10px;
}

.container main .top-navbar nav .sub-menu-wrap .sub-menu a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  color: black;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.container main .top-navbar nav .sub-menu-wrap .sub-menu a:hover {
  background-color: #ddd;
}

.container main .top-navbar nav .sub-menu-wrap .sub-menu a i {
  height: fit-content;
  width: fit-content;
}

.container main .content-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.container main .content-wrapper .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%;
  padding: 2em 0 0 0;
  height: 80%;
}

.container main .content-wrapper .content .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container main .content-wrapper .content .wrapper a {
  background-color: black;
  padding: 0.7em 2em;
  color: white;
  border-radius: 10px;
}

.container main .content-wrapper .content .table-wrapper {
  overflow: auto;
  height: fit-content;
  overflow-y: auto;
  width: 100%;
}

.container main .content-wrapper .content .table-wrapper table {
  border-collapse: collapse;
  width: 100%;
}

.container main .content-wrapper .content .table-wrapper table tbody tr td,
.container main .content-wrapper .content .table-wrapper table thead tr th {
  border: 1px solid #818181;
  padding: 8px;
}

.container main .content-wrapper .content .table-wrapper table thead tr th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: black;
  color: white;
}

.container
  main
  .content-wrapper
  .content
  .table-wrapper
  table
  tbody
  tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container main .content-wrapper .content .table-wrapper table tbody tr:hover {
  background-color: #ddd;
}

.container
  main
  .content-wrapper
  .content
  .table-wrapper
  table
  tbody
  tr
  .button-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}

.container
  main
  .content-wrapper
  .content
  .table-wrapper
  table
  tbody
  tr
  .button-wrapper
  button {
  padding: 0.5em 1em;
  border-collapse: collapse;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: red;
}

.container
  main
  .content-wrapper
  .content
  .table-wrapper
  table
  tbody
  tr
  .button-wrapper .update {
    background-color: green;
  }

.container
  main
  .content-wrapper
  .content
  .table-wrapper
  table
  tbody
  tr
  .button-wrapper
  button:hover {
    cursor: pointer;
}
